<div class="panel panel-success">
    <div class="panel-heading">
        <a href="{{ path('crop_show', {'slug': resource.id}) }}" class="panel-title">{{ resource.name }}</a>
    </div>
    <div class="panel-body">
        <a href="{{ path('crop_growers', {'slug': resource.id}) }}" class="text-success">Visa användare som odlar <br />{{ resource.name|lower }}</a>
    </div>
</div>