{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('status_update_register') }}">Skapa ny statusuppdatering</a>
        </div>

        {% include('Shared/updates.html.twig') %}
    </div>

{% endblock %}
