{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <form name="input3" action="{{ path('deletefriendform', {'slug': app_user.id}) }}" method="post">
                    <input type="submit" name="submit" value="Sluta vara vän" class="btn btn-primary">
                </form>
            </div>
            {% include ('Shared/profilemenu.html.twig') %}
        </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="h1">

            </div>
            {% include('Shared/updates.html.twig') %}
        </div>
    </div>

{% endblock %}