{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for item in friends %}
            <li><a href="{{ path('user_show', {'slug': item.id}) }}"> {{ item.username }} </a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}