{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <ul>
        {% for item in friends %}
            <li><a href="{{ path('user_show', {'slug': item.id}) }}"> {{ item.username }} </a></li>
        {% endfor %}
    </ul>

{% endblock %}