{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ crop.name }}</p>

    <ul>
        {% for item in crop.appUsers %}
            <li><a href="{{ path('user_show', {'slug': item.id}) }}"> {{ item.username }} </a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}