{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <ul id="crops">
        {% for item in crops %}
            <li><a href="{{ path('crop_show', {'slug': item.id}) }}">{{ item.name }} </a></li>
        {% endfor %}
    </ul>

{% endblock %}