{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-6">
            {% for item in PMs %}
                <a href="{{ path('pmthread_show', {'slug': item.PMThread.id}) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ item.creator }} </h4>
                </a>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <a href="{{ path('pmthread_create') }}">Nytt privat meddelande</a>
        </div>
    </div>

{% endblock %}