{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for item in requests %}
            <li> {{ item.username }} </li>
        {% endfor %}
    </ul>

    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}