{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ location.name }}</p>
    <ul>
        {% for item in location.appUsers %}
            <li> {{ item.username }} </li>
        {% endfor %}
    </ul>
    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}