{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-12">
            <div class="row">
                {% for item in app_groups %}
                    <div class="list-group col-md-4">
                        <a href="{{ path('group_show', {'slug': item.id}) }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ item.name }} </h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include ('Shared/pagination.html.twig') %}

{% endblock %}