{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-3">
            {% include ('Shared/groupSidebar.html.twig') %}
        </div>

        <div class="col-md-8 col-md-offset-1">
            {% include ('Shared/2ColUserList.html.twig') %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include ('Shared/resourcesPagination.html.twig') %}
        </div>
    </div>

{% endblock %}