{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row col-md-6">

        {% for item in app_groups %}
            <div class="list-group">
                <a href="{{ path('group_show', {'slug': item.id}) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ item.name }} </h4>
                    <p class="list-group-item-text">{{ item.description }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}