{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row col-md-6">
        <ul>
            {% for item in app_groups %}
                <li><a href="{{ path('group_show', {'slug': item.id}) }}">{{ item.name }} </a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}