{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        {% include ('Shared/profilemenu.html.twig') %}
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Vänförfrågan skickad</p>
        </div>
    </div>

{% endblock %}