{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <p>{{ app_user.username }}</p>

    <div>
        <form name="input2" action="{{ path('acceptrequestform', {'slug': app_user.id}) }}" method="post">
            <input type="submit" name="submit" value="Acceptera vänförfrågan">
        </form>
    </div>

{% endblock %}