{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ app_user.username }}</p>

    <p>Mina statusuppdateringar</p>

    {% for update in updates %}
        <p> {{ update.message }}</p>
    {% endfor %}

    {% include ('Shared/loginmenu.html.twig') %}

{% endblock %}