{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-12">
            <ul class="media-list row">
                <li></li>
                <li></li>
                <li></li>
                {% for item in list %}
                    <li class="media col-md-4">
                        {% include ('Shared/appUsers.html.twig') %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}