{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="h1">

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <form name="createReqForm" action="{{ path('requestform', {'slug': resource.id}) }}" method="post">
                    <input type="submit" name="submit" value="Skicka vänförfrågan" class="btn btn-primary" />
                </form>
            </div>
            {% include ('Shared/profilemenu.html.twig') %}
        </div>
    </div>

{% endblock %}