{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <div class="jumbotron">
                    <h1>Hemodlat</h1>
                </div>
            </div>

            <div class="col-md-4">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData) }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post" class="form-horizontal">

                <div class="form-group">
                    <label for="username">Användarnamn:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Lösenord:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Logga in</button>
                </div>

            </form>

            <a href="{{ path('account_register') }}" class="pull-left">Skapa konto</a>

            </div>

        </div>

    </div>

{% endblock %}